main{
    #statistics{
        border: solid 2px white;
        border-bottom-color: rgb(252, 120, 120);
        padding-top: 50px;
        padding-bottom: 50px;
        .statisticborders{
            border: solid 1px white;
            border-radius: 8px;
            width: 300px;
            text-align: center;
            box-shadow: 0 0 5px rgb(88, 88, 88);
            p{
                font-size: 18px;
                font-weight: 600;
                font-family: 'Bitter', serif;
            }
            span{
                font-size: 30px;
                font-weight: 600;
                font-family: 'Bitter', serif;
                color: rgb(252, 120, 120);
            }
        }
    }
    #news{
        border: solid 2px white;
        border-bottom-color: rgb(255, 64, 64);
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            font-family: 'Bitter', serif;
            font-size: 35px;
            border: solid 2px white;
            border-bottom-color: red;
            width: 44%;
        }
        .news{
            padding-top: 30px;
            img{
                max-width: 100%;
                border-radius: 12px;
            }
            h4{
                font-size: 18px;
                color: rgb(252, 30, 30);
            }
            p{
                font-size: 11px;
                color: rgb(78, 78, 78);
            }
        }
    }
    #campaigns{
        border: solid 2px white;
        border-bottom-color: rgb(255, 64, 64);
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            font-family: 'Bitter', serif;
            font-size: 35px;
            border: solid 2px white;
            border-bottom-color: red;
            width: 32%;
        }
        .campaigns{
            padding-top: 30px;
            .col-md-4{
                .campaigncard{
                    border-radius: 10px;
                    padding: 15px;
                    box-shadow: 0 0 5px rgb(88, 88, 88);
                    img{
                        border-radius: 12px;
                        max-width: 100%;
                        border: solid 1px red;
                    }
                    h4{
                        font-size: 15px;
                    }
                    p{
                        font-size: 13px;
                    }
                    .campaignbuttons{
                        padding-top: 10px;
                    }
                }
            }         
        }
    }
    #tariffs{
        border: solid 2px white;
        border-bottom-color: rgb(255, 64, 64);
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            font-family: 'Bitter', serif;
            font-size: 35px;
            border: solid 2px white;
            border-bottom-color: red;
            width: 32%;
        }
        .tariffs{
            padding-top: 80px;
            #tariffheader{
                padding-bottom: 20px;
            }
            button{
                text-decoration: none;
                border: solid 1px #cd374b;
                border-radius:8px;
                padding-right: 85px;
                padding-left: 85px;
                color: #cd374b;
                background-color: white;
            }
            button:hover{
                border: solid 1px rgb(148, 0, 0);
                color: white;
                background-color: rgb(179, 0, 0);
            }
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .table{
            #cheki{
                width: 250px;
            }
            img{
                max-width: 20%;
                width: 25%;
                border-radius: 30px;
            }
        }
        #table2{
            display: none;
        }
        #table3{
            display: none;
        }
        button{
            border-radius: 5px;
            background-color:#cd374b;
            color: white;
            border-color: #cd374b;
        }
    }

    #subscriberscomment{
        .firstcard{
            color: rgb(56, 56, 56);
            font-size: 15px;
            padding-top: 15px;
            img{
                max-width: 70%;
                border-radius: 50%;
            }
            p{
                padding-top: 30px;
            }
        }
        .firstcard:hover{
            color: red;
            font-size: 18px;
            transition: .1s;
        }
        a:hover{
            color: red;
            font-size: 18px;
        }
        h1{
            font-family: 'Bitter', serif;
            font-size: 35px;
            border: solid 2px white;
            border-bottom-color: red;
            width: 32%;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .reviewcard{
            width: 100%;
            border-left-width: 5px; 
        }
        HTML CSS JSResult Skip Results Iframe
        EDIT ON
        .item{
        opacity:0.4;
        transition:.4s ease all;
        margin:0 20px;
        transform:scale(.8);
        }
        @media(max-width:1000px){
        .item{margin:0; transform:scale(.9)}
        }
        .active .item{
        opacity:1;
        transform:scale(1);
        } 
    
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
    
        .inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
        .inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
        .inner a:hover{border-color:#fff;}
        .black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
        .black .inner a:hover{border-color:#000;}
    
        .owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none; background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; background-size:100% auto;
        }
    
        .owl-controls{position:absolute; margin-top:300px;}
    }

}